@charset "UTF-8";

/* COMMON
====================================== */
html, body {
    font: 10.5pt/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    color: #343339;
    background-color: #EDE9EB;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    background-color: #169AA3;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 3px;
}
a {
    color: #e74c3c;
}



/* HEADER
====================================== */
#nav-header {
    position: fixed;
    overflow: hidden;
    height: 68px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 100;
    top:0;
}
#nav-header > .left {
    margin-left: 50px;
}
#nav-header > .right {
    margin-right: 50px;
}
#site-logo {
    float: left;
    width: 180px;
    height: 40px;
    overflow: hidden;
    margin: 14px 20px 0 0;
}
#site-logo > h1 {
    margin: 0;
    font-size: 32px;
    line-height: 40px;
}
#site-logo > h1 > a {
    text-decoration: none;
    color: #343339;
    letter-spacing: 2px;
}
.menu {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
}
.menu > li {
    float: left;
    height: 68px;
    position: relative;
    text-transform: uppercase;
}
.menu > li > a {
    color: #757779;
    font-size: 1em;
    font-weight: bold;
    line-height: 64px;
    text-decoration: none;
}
.menu > li > a:hover {
    color: #343339;
}
.menu-items {
    border-right: 1px solid #CACACA;
}
.menu-items > a {
    display: block;
    padding: 0 25px;
    vertical-align: middle;
}
.menu-items > a.active {
    color:  #343339;
    border-bottom: 4px solid #343339;
}

/* MAIN CONTENT
====================================== */
#body-container {
    margin-top: 68px;
    width: 100%;
}
#sidebar {
    width: 250px;
    padding: 10px 0;
    background-color: #F3F4F5;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    position: relative;
    float: left;
}
#content {
    margin-bottom: 50px;
}

/* search bar - aside
----------------------------------------- */
#search-box {
    width: 210px;
    margin: 0 auto 10px;
}
#search {
    position: relative;
    width: 162px;
}
#search > input {
    border-radius: 3px;
    border: 1px solid #AAA;
    color: #757779;
    margin: 0;
    line-height: 24px;
    outline: none;
    padding: 3px 36px 3px 10px;
    position: relative;
    width: 100%;
}
.btn-search {
    background-image: url('../img/glyphicons/png/glyphicons_027_search.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.btn-search {
    position: absolute;
    right: -38px;
    top: 6px;
    width: 20px;
    height: 20px;
    text-indent: -1000em;
    overflow: hidden;
    line-height: 13px;
    border: none;
    opacity: 0.45;
    background-color: white;
}
.btn-search:hover {
    opacity: 1;
}

/* filter organize - aside
----------------------------------------- */
#filter {
    background-color: #E3E4E5;
}
#filter > h2 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 32px;
    margin: 0;
    padding-left: 20px;
    color: white;
    white-space: nowrap;
    background-color: #999;
}
.filter-header {
    background-color: #169AA3;
    font-weight: bold;
    padding: 0 20px;
    line-height: 32px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.criteria {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


/* program icons - aside
----------------------------------------- */
.icon-holder {
    width: 26px;
    height: 26px;
    background-color: #AAA;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    margin-right: 10px;
}
.icon-holder img {
    width: 26px;
    height: 26px;
}

/* checkbox css - aside
----------------------------------------- */
.filter-option {
    line-height: 48px;
    border-bottom: 1px solid white;
    position: relative;
    padding: 0 20px;
}
#filter-wrapper input[type=checkbox] {
    visibility: hidden;
}
.check-mark {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 16px;
    border-radius: 3px;
    background: #fcfff4;
    border: 1px solid #999;
    vertical-align: middle;
}
.check-mark:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.check-mark:hover::after {
    opacity: 0.5;
}
#filter-wrapper input[type=checkbox]:checked + .check-mark:after {
    opacity: 1;
}


#content {
    float: left;
    position: relative;
}
/* menu - content
----------------------------------------- */
#menu-header {
    background-color: rgba(0,0,0,0.07);
    padding: 12px 50px;
}
#menu-header > .left > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu-header > .left > ul > li {
    display: inline-block;
}
#menu-header > .left > ul > li > a {
    display: block;
    color: #666;
    padding: 3px 36px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 3px;
    border-color: transparent;
    font-weight: bold;
}
#menu-header > .left > ul > li > a:hover {
    color: #333;
    border-color: #CACACA;
    background-color: #E3E4E5;
}
#menu-header > .left > ul > li.active > a {
    color: #333;
    border-color: #CACACA;
    background-color: white;
}
#results {
    display: block;
    padding: 4px 0;
}

/* content - content
----------------------------------------- */
.notification {
    width: 560px;
    background: white;
    padding: 15px;
    margin: 10px auto 0;
}
.notification > h4 {
    margin: 0;
}
.notification > p {
    margin: 0;
}
/* itemWidth = 238; gap = 20; border = 1 */
#deal-list {
    width: 760px;
    margin: 10px auto;
    padding: 0;
    list-style: none;
    position: relative;
}
#deal-list >.item-wrapper {
    position: absolute;
    float: left;
    width: 238px; /* js reset */
    border: 1px solid rgba(0,0,0,0.15);
    overflow: hidden;
    z-index: 2;
    padding: 0;
    margin: 0;
    background-color: white;
}
#deal-list > .item-wrapper > .list-item {
    position: relative;
}
#deal-list > .item-wrapper > .list-item > .item-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #CACACA;
}
#deal-list > .item-wrapper > .list-item > .item-header > h5 {
    display: inline-block;
    margin: 0;
    background-color: #999;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
}
#deal-list > .item-wrapper > .list-item > .item-header > .program-icon {
    height: 50px;
    overflow: hidden;
    border-left: 1px solid #CACACA;
}
#deal-list > .item-wrapper > .list-item > .item-header > .program-icon > img {
    padding: 5px 10px;
    height: 40px;
}
#deal-list > .item-wrapper > .list-item > .item-image > img {
    width: 100%;
}
#deal-list > .item-wrapper > .list-item > .item-description {
    padding: 15px;
    color: #454545;
    font-size: 18px;
}
#deal-list > .item-wrapper > .list-item > .item-description > p {
    margin: 0;
}
#deal-list > .item-wrapper > .list-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#deal-list > .item-wrapper > .list-item > .item-engagement {
    background-color: #EDE9EB;
    padding: 8px 16px;
    border-top: 1px solid #CACACA;
}
#deal-list > .item-wrapper > .list-item > .item-engagement > ul > li {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    overflow: hidden;
    margin-left: 5px;
}
#deal-list > .item-wrapper > .list-item > .item-engagement > ul > li:first-child {
    margin-left: 0;
}
#deal-list > .item-wrapper > .list-item > .item-engagement > ul > li > img {
    width: 30px;
}
#deal-list > .item-wrapper > .list-item > .item-engagement > .saved-result {
    font-weight: bold;
    line-height: 30px;
    color: #666;
}
#deal-list > .item-wrapper > .list-item > .item-menu {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.35);
}
#deal-list > .item-wrapper > .list-item li {
    display: inline-block;
    margin-left: 10px;
}
#deal-list > .item-wrapper > .list-item li:first-child {
    margin-left: 0;
}
#deal-list > .item-wrapper > .list-item a {
    color: #343339;
}
#deal-list > .item-wrapper > .list-item .btn {
    background-color: white;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #EDE9EB;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}
#deal-list > .item-wrapper > .list-item .btn-text {
    font-size: 20px;
    vertical-align: middle;
}
/* --- program list --- */
#program-list {
    width: 760px;
    margin: 10px auto;
    padding: 0;
    list-style: none;
    position: relative;
}
#program-list > .item-wrapper {
    border: 1px solid #CACACA;
    position: absolute;
}
#program-list > .item-wrapper > .list-item {
    position: relative;
    background-color: white;
}
#program-list > .item-wrapper > .list-item > .item-image {
    width: 180px;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
}
#program-list > .item-wrapper > .list-item > .item-image > img {
    display: block;
}
#program-list > .item-wrapper > .list-item > .item-name {
    background-color: #F1F2F3;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
#program-list > .item-wrapper > .list-item > .item-name > h3 {
    margin: 8px 0;
}
#program-list > .item-wrapper > .list-item > .item-option {
    text-align: center;
    background-color: #169AA3;
    color: white;
}
/* FOOTER
====================================== */
#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #565556;
    color: white;
    z-index: 100;
    padding: 10px 0;
}
#footer > .left {
    margin-left: 50px;
}
#footer > .right {
    margin-right: 50px;
}
#footer > .left > p {
    margin: 0;
}
#footer .menu-help {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer .menu-help > li {
    display: inline-block;
}
#footer .menu-help > li > a {
    color: white;
    text-decoration: none;
}