@charset "utf-8";
body {
	font: 100%/1.4 Helvetica, Arial, Verdana, sans-serif;
	background: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ----------------------------------general setting---------------------------------------------- */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	padding-right: 10px;
	padding-left: 10px; 
	color: #000;
}
a img { 
	border: none;
}

a {
	color: #5D5655;
	text-decoration: underline;
}

a:hover, a:active, a:focus { 
	text-decoration: underline;
	color: #000;
}

/* -------------------------------------end general setting----------------------------------------*/

/* -------------------------------------specific setting------------------------------------------*/
.container {
	width: 60%;
	max-width: 1260px;
	min-width: 780px;
	background: #FFF;
	margin: 0 auto;
	overflow: hidden;  
}
/* -------------------------------------Sidebar Setting-------------------------------------------*/
.sidebar{
	float: right;
	width: 28%;
}

.sidebar_logo{
	border-left-style:solid;
	border-width: 1px;
	border-color: #B4B5B2;
	padding: 10px 0 2px 15px;
}

.logo:before , .logo:after {
	clear: both;
	content: " ";
	display:table;
}
.logo dt{
	float:left;
}
.logo dt img{
	width: 50px;
	height: 50px;
}
.logo dd{
	padding-left: 20px;
	font-size: 20px;
	padding-top: 19px;
	color: #5D5655;
}

.sidebar_button{
	border-style: solid;
	border-width: 1px;
	border-color: #B4B5B2;
	padding-top: 10px;
	padding-bottom: 20px;
}

.center{
	margin-left:auto;
	margin-right:auto;
	width: 90%;
}
.button{
	background: #E4E4E4;
	padding: 14px 5px 14px 5px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #5D5655;
	display: block;
	margin-top: 10px;
	text-align: center;
}
.button:hover{
	background: #808080;
	color: white;
	text-decoration: none;
}

.sidebarMid{
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-width: 1px;
	border-color: #B4B5B2;
	padding-bottom: 15px;
}
.sidebarMid ul h5{
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px 0 10px 0;
	color: #5D5655;
}
.sidebarMid ul{
	margin-left: auto;
	margin-right: auto;
	width: 81%;
}
.sidebarMid ul li{
	display:inline;
}
.sidebarMid ul li img{
	width: 25px;
	height: 25px;
	padding-left: 1px;
}
.sidebarMid ul a{
	font-size: 13px;
	font-weight: bold;
}

.sidebarBot{
	height: 65%;
	border-right-style:solid;
	border-left-style:solid;
	border-width: 1px;
	border-color: #B4B5B2;
}
.hotDealHeader{
	background-color: #E4E4E4;
	color: #5D5655;
	padding: 7px 0 7px 9px;
	font-size: 15px;
	font-weight: bold;
}
.hotDeal{
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #B4B5B2;
}
.hotDeal dt a img{
	width: 78px;
	height: 53px;
	border-style: solid;
	border-width: 1px;
	border-color: #B4B5B2;
}
.hotDeal dd{
	font-size: 13px;
	color: #5D5655;
	display:block;
	padding: 15px 5px 15px 0;
	margin-left: 12px;
}
.hotDeal dt{
	float:left;
	padding: 15px 7px 0 10px;
}
/* End the Sidebar Setting*/
/*------------------------------------------------------------------------------------------*/
/*Content Setting*/
.content {
	width: 72%;
}

.header_content{
}
.deal_label{
	background: #5D5655;
	color: white;
	width: 80px;
	padding: 2px 0 2px 0;
	margin-left: 30px;
	margin-top: 15px;
	font-size:14px;
	text-align: center;
	
}
.title{
	margin-left:20px;
	margin-top: 13px;
	margin-bottom: 13px;
}

.img_container img{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height: 220px;
	display:block;
}
.section_content{
	padding-left: 20px;
	padding-right: 20px;
}
.section_content h4{
	color: #5D5655;
	margin-top: 20px;
	margin-bottom: 13px;
}
.section_content p{
	font-size: 14px;
	color: #5D5655;
	margin-top: 0px;
	margin-bottom: 0px;
}
.link a{
	font-size: 14px;
	margin-top: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
}
.section_content hr{
	margin-left: auto;
	margin-right: auto;
	width: 97%;
	margin-bottom: 0px;
	margin-top: 20px;
}
.section_content ul{
	font-size: 14px;
	color: #4d4d4d;
	margin-top: 0px;
	margin-bottom:0px;
}

.comment{
	background: #f0f0f0;
	margin-top: 25px;
	height: 200px;
}
.comment_text{

}

.content ul, .content ol { 
	padding: 0 0 0 40px; 
}




.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
