/* HEADER
====================================== */
#nav-header {
    position: fixed;
    overflow: hidden;
    height: 68px;
    background-color: white;
    box-shadow: @shadow;
    width: 100%;
    z-index: 100;
    top: 0;
    > .left {
        margin-left: 50px;
        > #site-logo {
            float: left;
            width: 180px;
            height: 40px;
            overflow: hidden;
            margin: 14px 20px 0 0;
            > h1 {
                margin: 0;
                font-size: 32px;
                line-height: 40px;
                > a {
                    text-decoration: none;
                    color: darken(@menu-color, 30%);
                    letter-spacing: 2px;
                }
            }
        }
    }
    > .right {
        margin-right: 50px;
    }
    .menu {
        list-style: none;
        float: left;
        padding: 0;
        margin: 0;
        > li {
            float: left;
            height: 68px;
            position: relative;
            text-transform: uppercase;
            > a {
                color: @menu-color;
                font-size: 1em;
                font-weight: bold;
                line-height: 64px;
                text-decoration: none;
                &:hover {
                    color: darken(@menu-color, 30%);
                }
            }
        }
        > .menu-items {
            border-right: 1px solid @border-color;
            > a {
                display: block;
                padding: 0 25px;
                vertical-align: middle;
                &.active {
                    color:  darken(@menu-color, 30%);
                    border-bottom: 4px solid darken(@menu-color, 30%);
                }
            }
        }
    }
}
