.mainContainer2{
	position: relative;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}
.mainContainer2 > .centerPanel2{ 
	/* vertical and horizontal align centre*/
	position: absolute;
	width: 700px;
	height: 280px;
	top: 50%;
	margin-top: -140px;
	left: 50%;
	margin-left: -350px;
	background: @true-white;
	border: 1px solid @silver;
}

.mainContainer2 > .centerPanel2 > .pHeader2{
	border-bottom: none;
	position: relative;
}
.mainContainer2 > .centerPanel2 > .pHeader2 > h1{
	font-size: 20px;
	padding: 50px 60px 40px 60px;
	margin: 0;
	text-transform:uppercase;
}

.mainContainer2 > .centerPanel2 > .container2 > .loginForm2{
	margin-left: 60px;
    margin-right: 60px;
	position: relative;
}
.mainContainer2 > .centerPanel2 > .container2 > .loginForm2 > form > input{
	width: 553px;
	line-height: 45px;
	margin-bottom: 30px;
	padding: 0 0 0 20px;
	border: 1px solid #696969;
	color: #696969;
}

.mainContainer2 > .centerPanel2 > .container2> .loginForm2 > form >.submit{
	width: 30%;
	font-weight: bold;
	line-height: 45px;
	padding: 0;
	margin:0 auto;
    border-radius: 22px;
}
