#welcome-mainContainer{
	position: relative;
	width: 90%;
	margin: 0 auto;
	height: 100%;
	
    > .centerPanel{ 
		/* vertical and horizontal align centre*/
		position: absolute;
        width: 700px;
        height: 470px;
        top: 50%;
        margin-top: -222px;
        left: 50%;
        margin-left: -350px;
		background: @true-white;
		border: 1px solid @silver;
		
		> .pHeader{
			margin-top: 20px;
		}
		
		> .greeting{
			text-align: center;
			> h1{
				font-size: 20px;
				padding: 23px 0 20px 0;
				margin: 0;
				color: #000;
			}
			> p{
				font-size: 14px;
				margin: 0;
				font-weight: bold;
				color: #595959;
			}
		}
		
		> .pFooter{
			margin-top: 30px;
			
			> .start {
				width: 8%;
				line-height: 25px;
				text-decoration: none;
				border-radius: 20px;
				margin: 0 auto;
			}
			/*> .skip{
				float: right;
				width: 100px;
				line-height: 30px;
				text-decoration: none;
				border-radius: 20px;
				margin-right: 220px;
				font-size: 14px;
				padding: 7px 32px;
				white-space: nowrap;
				border: none;
				background-color: #888888;
				color: white;
				cursor: pointer;
				display: block;
				font-weight: normal;
				text-align: center;
				vertical-align: middle;
				&:hover {
					background-color: darken(#888888, 3%);
				}
				&[disabled] {
					cursor: not-allowed;
					pointer-events: none;
					background-color: @button-disabled;
					border-color: @border-color;
					opacity: 1; // iOS fix for unreadable disabled content
				}
			}*/
		}
	}
	
}
